@mixin bottom-circle-border-radius($radius) {
    -moz-border-radius-bottomleft: $radius;
    border-bottom-left-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    border-bottom-right-radius: $radius;
}
@mixin top-circle-border-radius($radius) {
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
    -moz-border-radius-topright: $radius;
    border-top-right-radius: $radius;
}
@mixin font-smoothing {
    -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;zoom:1;
}

.header {
    background: #00526a;
    padding-top: 30px;
}
.logo-top {
    @include top-circle-border-radius(150px);
    @include font-smoothing;
    background: #FFFFFF;
    color: #00526a;
    font-size: 28px;
    font-weight: bold;
    height: 130px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 62px;
    text-align: center;
    text-transform: uppercase;
    width: 260px;
    span {
        font-size: 26px;
    }
}
.logo-bottom {
    @include bottom-circle-border-radius(150px);
    @include font-smoothing;
    background: #00526a;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    height: 130px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 260px;
    span {
        font-family: Georgia, serif;
        font-size: 26px;
        font-style: italic;
        text-transform: lowercase;
    }
}