@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?a0vghw');
    src:url('fonts/icomoon.eot?#iefixa0vghw') format('embedded-opentype'),
        url('fonts/icomoon.woff?a0vghw') format('woff'),
        url('fonts/icomoon.ttf?a0vghw') format('truetype'),
        url('fonts/icomoon.svg?a0vghw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e600";
}
.icon-facebook:before {
    content: "\e601";
}
.icon-twitter:before {
    content: "\e602";
}

//
// Hide content off-screen without resorting to `display:none;`, also provide
// breakpoint specific hidden elements.
//
@mixin accessibility {
    border:0!important;
    clip:rect(0 0 0 0)!important;
    height:1px!important;
    margin:-1px!important;
    overflow:hidden!important;
    padding:0!important;
    position: absolute!important;
    width:1px!important;
}
.accessibility,
.visuallyhidden,
.hidden {
    @include accessibility;
}

@mixin bottom-circle-border-radius($radius) {
    -moz-border-radius-bottomleft: $radius;
    border-bottom-left-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    border-bottom-right-radius: $radius;
}
@mixin top-circle-border-radius($radius) {
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
    -moz-border-radius-topright: $radius;
    border-top-right-radius: $radius;
}
@mixin mq($mq) {
    @if $mq == retina {
        @media
            screen and (min--moz-device-pixel-ratio: 1.3),
            screen and (-o-min-device-pixel-ratio: 13/10),
            screen and (-webkit-min-device-pixel-ratio: 1.3),
            screen and (min-device-pixel-ratio: 1.3),
            screen and (min-resolution: 124.8dpi),
            screen and (min-resolution: 1.3dppx) {
            @content;
        }
    } @else {
        @media all and (min-width: $mq) {
            @content;
        }
    }
}

@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin clearfix {
    *zoom:1;
    &:before, &:after {content:"";display:table;}
    &:after{clear:both;}
}

$teal: #00526a;

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;zoom:1;
}

a {
    color: $teal;
    text-decoration: underline;
}
h2 {
    @include font-smoothing;
    color: #111;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    @include font-smoothing;
    color: #111;
    text-align: center;
}
h4 {
    @include font-smoothing;
    color: #111;
    font-size: 16px;
}
p, li {
    line-height: 1.5em;
}
li {
    margin-bottom: 20px;
}

.header {
    background: $teal;
    padding-top: 30px;
}
.logo-top {
    @include top-circle-border-radius(150px);
    @include font-smoothing;
    background: #FFFFFF;
    color: $teal;
    font-size: 28px;
    font-weight: bold;
    height: 130px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 62px;
    text-align: center;
    text-transform: uppercase;
    width: 260px;
    span {
        font-size: 26px;
    }
}
.logo-bottom {
    @include bottom-circle-border-radius(150px);
    @include font-smoothing;
    background: $teal;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    height: 130px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 260px;
    span {
        font-family: Georgia, serif;
        font-size: 26px;
        font-style: italic;
        text-transform: lowercase;
    }
}

.wrapper-outer {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    @include mq(640px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.wrapper-inner {
    @include clearfix;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.events-outer {
    @extend .wrapper-outer;
    padding-bottom: 10px;
}
.events-inner {
    @extend .wrapper-inner;
    position: relative;
    h2 {
        margin-bottom: 10px;
    }
    .event {
        margin-bottom: 30px;
        a {
            color: $teal;
            text-decoration: underline;
        }
        h3 {
            text-align: center;
        }
        h4 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    @include mq(720px) {
        & {
            padding-top: 20px;
        }
        h2 {
            display: none;
        }
        .event {
            border: 4px solid #ccc;
            min-height: 340px;
            padding: 20px;
            width: 250px;
            h3 {

            }
            h4.cal {
                border: 4px solid #333;
                font-size: 42px;
                line-height: 1em;
                margin-right: auto;
                margin-bottom: 10px;
                margin-left: auto;
                width: 90px;
            }
            .month {
                background: #333;
                color: #FFF;
                display: block;
                font-family: Georgia, serif;
                font-size: 14px;
                line-height: 1.2em;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .date {
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
            }
                .tbd {
                    font-size: 24px;
                }
            h4.time {
                font-size: 12px;
                line-height: 1.2em;
                margin-bottom: 10px;
            }
            p {
                font-family: Georgia, serif;
            }
        }
        .event:nth-of-type(2n) {
            float: left;
        }
        .event:nth-of-type(2n-1) {
            float: right;
        }
        .event:first-of-type {
            background: #FFF;
            border: 4px solid $teal;
            left: 50%;
            margin-left: -140px;
            position: absolute;
            top: 0;
            width: 280px;
            h4 {
                color: $teal;
            }
            h4.cal {
                border: 4px solid $teal;
            }
            .month {
                background: $teal;
                color: #FFF;
            }
        }
    }
    @include mq(800px) {
        padding-right: 70px;
        padding-left: 70px;
    }
    @include mq(900px) {
        padding-right: 100px;
        padding-left: 100px;
        .event {
            width: 260px;
        }
    }
}
.mission-outer {
    @extend .wrapper-outer;
    background: #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
}
.mission-inner {
    @extend .wrapper-inner;
    h2 {
        font-family: Georgia, serif;
        margin-bottom: 20px;
    }
    h3 {
        font-family: Georgia, serif;
        margin-bottom: 20px;
    }
    p {
        font-family: Georgia, serif;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
        max-width: 720px;
        text-align: center;
    }
}
.benefits-outer {
    @extend .wrapper-outer;
    padding-bottom: 0;
    @include mq(640px) {
        padding-bottom: 40px;
    }
}
.benefits-inner {
    @extend .wrapper-inner;
    h2 {
        color: $teal;
    }
    p {
        margin-bottom: 40px;
        text-align: center;
    }
    div {
        margin-bottom: 40px;
        padding-right: 20px;
        padding-left: 20px;
        &:first-of-type {
            margin-bottom: 0;
        }
        @include mq(640px) {
            float: left;
            width: 50%;
            padding-right: 30px;
            &:first-of-type {
                padding-left: 30px;
            }
        }
    }
}
.committee-outer {
    @extend .wrapper-outer;
    background: #ccc;
}
.committee-inner {
    @extend .wrapper-inner;
    text-align: center;
    h2 {
        font-family: Georgia, serif;
    }
    div {
        display: inline-block;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        position: relative;
        text-align: left;
        vertical-align: top;
        width: 200px;
        h4.name {
            font-family: Georgia, serif;
        }
        h4.position {
            margin-bottom: 10px;
        }
        h4.profession {
            font-size: 14px;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
        }
        @include mq(320px) {
        }
    }
}

.contact-outer {
    @extend .wrapper-outer;
}
.contact-inner {
    @extend .wrapper-inner;

    div {
        margin-bottom: 80px;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
        a {
            text-decoration: none;
        }
        .icon {
            display: inline-block;
            font-size: 64px;
            margin-bottom: 10px;
        }
        @include mq(640px) {
            float: left;
            width: 33%;
        }
    }

    p.clearbold {
        text-align: center;
        a {
            color: rgb(237, 86, 27);
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}