@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?a0vghw");
  src: url("fonts/icomoon.eot?#iefixa0vghw") format("embedded-opentype"), url("fonts/icomoon.woff?a0vghw") format("woff"), url("fonts/icomoon.ttf?a0vghw") format("truetype"), url("fonts/icomoon.svg?a0vghw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail:before {
  content: "\e600"; }

.icon-facebook:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.accessibility,
.visuallyhidden,
.hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1; }

a {
  color: #00526a;
  text-decoration: underline; }

h2 {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase; }

h3 {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  text-align: center; }

h4 {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  font-size: 16px; }

p, li {
  line-height: 1.5em; }

li {
  margin-bottom: 20px; }

.header {
  background: #00526a;
  padding-top: 30px; }

.logo-top {
  -moz-border-radius-topleft: 150px;
  border-top-left-radius: 150px;
  -moz-border-radius-topright: 150px;
  border-top-right-radius: 150px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  color: #00526a;
  font-size: 28px;
  font-weight: bold;
  height: 130px;
  line-height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 62px;
  text-align: center;
  text-transform: uppercase;
  width: 260px; }
  .logo-top span {
    font-size: 26px; }

.logo-bottom {
  -moz-border-radius-bottomleft: 150px;
  border-bottom-left-radius: 150px;
  -moz-border-radius-bottomright: 150px;
  border-bottom-right-radius: 150px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #00526a;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  height: 130px;
  line-height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 260px; }
  .logo-bottom span {
    font-family: Georgia, serif;
    font-size: 26px;
    font-style: italic;
    text-transform: lowercase; }

.wrapper-outer, .events-outer, .mission-outer, .benefits-outer, .committee-outer, .contact-outer {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%; }
  @media all and (min-width: 640px) {
    .wrapper-outer, .events-outer, .mission-outer, .benefits-outer, .committee-outer, .contact-outer {
      padding-top: 80px;
      padding-bottom: 80px; } }

.wrapper-inner, .events-inner, .mission-inner, .benefits-inner, .committee-inner, .contact-inner {
  *zoom: 1;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%; }
  .wrapper-inner:before, .events-inner:before, .mission-inner:before, .benefits-inner:before, .committee-inner:before, .contact-inner:before, .wrapper-inner:after, .events-inner:after, .mission-inner:after, .benefits-inner:after, .committee-inner:after, .contact-inner:after {
    content: "";
    display: table; }
  .wrapper-inner:after, .events-inner:after, .mission-inner:after, .benefits-inner:after, .committee-inner:after, .contact-inner:after {
    clear: both; }

.events-outer {
  padding-bottom: 10px; }

.events-inner {
  position: relative; }
  .events-inner h2 {
    margin-bottom: 10px; }
  .events-inner .event {
    margin-bottom: 30px; }
    .events-inner .event a {
      color: #00526a;
      text-decoration: underline; }
    .events-inner .event h3 {
      text-align: center; }
    .events-inner .event h4 {
      text-align: center; }
    .events-inner .event p {
      text-align: center; }
  @media all and (min-width: 720px) {
    .events-inner {
      padding-top: 20px; }
    .events-inner h2 {
      display: none; }
    .events-inner .event {
      border: 4px solid #ccc;
      min-height: 340px;
      padding: 20px;
      width: 250px; }
      .events-inner .event h4.cal {
        border: 4px solid #333;
        font-size: 42px;
        line-height: 1em;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        width: 90px; }
      .events-inner .event .month {
        background: #333;
        color: #FFF;
        display: block;
        font-family: Georgia, serif;
        font-size: 14px;
        line-height: 1.2em;
        padding-top: 5px;
        padding-bottom: 5px; }
      .events-inner .event .date {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px; }
      .events-inner .event .tbd {
        font-size: 24px; }
      .events-inner .event h4.time {
        font-size: 12px;
        line-height: 1.2em;
        margin-bottom: 10px; }
      .events-inner .event p {
        font-family: Georgia, serif; }
    .events-inner .event:nth-of-type(2n) {
      float: left; }
    .events-inner .event:nth-of-type(2n-1) {
      float: right; }
    .events-inner .event:first-of-type {
      background: #FFF;
      border: 4px solid #00526a;
      left: 50%;
      margin-left: -140px;
      position: absolute;
      top: 0;
      width: 280px; }
      .events-inner .event:first-of-type h4 {
        color: #00526a; }
      .events-inner .event:first-of-type h4.cal {
        border: 4px solid #00526a; }
      .events-inner .event:first-of-type .month {
        background: #00526a;
        color: #FFF; } }
  @media all and (min-width: 800px) {
    .events-inner {
      padding-right: 70px;
      padding-left: 70px; } }
  @media all and (min-width: 900px) {
    .events-inner {
      padding-right: 100px;
      padding-left: 100px; }
      .events-inner .event {
        width: 260px; } }

.mission-outer {
  background: #ccc;
  padding-top: 40px;
  padding-bottom: 40px; }

.mission-inner h2 {
  font-family: Georgia, serif;
  margin-bottom: 20px; }
.mission-inner h3 {
  font-family: Georgia, serif;
  margin-bottom: 20px; }
.mission-inner p {
  font-family: Georgia, serif;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  max-width: 720px;
  text-align: center; }

.benefits-outer {
  padding-bottom: 0; }
  @media all and (min-width: 640px) {
    .benefits-outer {
      padding-bottom: 40px; } }

.benefits-inner h2 {
  color: #00526a; }
.benefits-inner p {
  margin-bottom: 40px;
  text-align: center; }
.benefits-inner div {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px; }
  .benefits-inner div:first-of-type {
    margin-bottom: 0; }
  @media all and (min-width: 640px) {
    .benefits-inner div {
      float: left;
      width: 50%;
      padding-right: 30px; }
      .benefits-inner div:first-of-type {
        padding-left: 30px; } }

.committee-outer {
  background: #ccc; }

.committee-inner {
  text-align: center; }
  .committee-inner h2 {
    font-family: Georgia, serif; }
  .committee-inner div {
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 200px; }
    .committee-inner div h4.name {
      font-family: Georgia, serif; }
    .committee-inner div h4.position {
      margin-bottom: 10px; }
    .committee-inner div h4.profession {
      font-size: 14px;
      margin-bottom: 10px; }
    .committee-inner div p {
      font-size: 12px; }

.contact-inner div {
  margin-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center; }
  .contact-inner div a {
    text-decoration: none; }
  .contact-inner div .icon {
    display: inline-block;
    font-size: 64px;
    margin-bottom: 10px; }
  @media all and (min-width: 640px) {
    .contact-inner div {
      float: left;
      width: 33%; } }
.contact-inner p.clearbold {
  text-align: center; }
  .contact-inner p.clearbold a {
    color: #ed561b;
    text-decoration: none;
    text-transform: uppercase; }

/*# sourceMappingURL=styles.css.map */
